extends ../layout


block content
  header(style=' background-color: #000;')
    nav.navbar.navbar-dark.d-flex.justify-content-end
      .hi(style=' height: 40px')
  main
    .container
      .row.margin-confi
        .col-md-0.offset-md-0
          a(href='/admin')
            button.link-button.btn-warning.px-5(style='border-radius: 5px;') Back
      .row.margin-oks
        .col-md-4.offset-md-4
          h1.font-potta-one(style='border-radius: 15px; color: #fff') OKS
      .row.my-2
        .col-md-4.offset-md-4
          h2.font-lato(style='border-radius: 15px; color: #fff')  Update song
      .row
        .col-md-4.offset-md-4
          form(action=`/admin/${cancion.id}/update_song`, method="post")
            .form-group
              label#nombre.font-lato(style='color: #fff') Name
              input#nombre.form-control(type="text" name='nombre' style='background: #e3e3e3; border-radius: 15px;' value=cancion.nombre class=errors ? '' : 'is-invalid')
              .hola(class=errors ? 'none' : 'invalid-feedback')
                | this song already exists
            button.btn.btn-warning.font-lato(type="submit") Update song
          
            
  // comienzo del footer
  footer.p-2(style='background-color: #000;')
    .container
      p.copyright(tabindex='0 ') OtakuSongs
      p.copyright(tabindex='0 ') Todos los Derechos Reservados 2021 &copy; 