extends ../layout


block content
  header(style=' background-color: #000;')
    nav.navbar.navbar-dark.d-flex.justify-content-end
      .hi(style=' height: 40px')
  main
    .container
      .row.margin-confi
        .col-md-0.offset-md-0
          a(href='/admin')
            button.btn.btn-warning(style='border-radius: 5px;') back
      .row.margin-oks
        .col-md-4.offset-md-4
          h1.font-potta-one(style='border-radius: 15px; color: #fff') OKS
      .row.my-2
        .col-md-4.offset-md-4
          h2.font-lato(style='border-radius: 15px; color: #fff')  User register
      .row
        .col-md-4.offset-md-4
          .table-responsive-md
            table.table.table-striped.table-dark
              thead
                tr
                  th(scope='col') id
                  th(scope='col') nombre
                  th(scope='col')
              tbody
                each usuario in usuarios
                    tr
                      td(scope='row')= usuario.id
                      td= usuario.nombre
                      td
                        form.inline(method='post' action='/admin/'+usuario.id+'/delete')
                            input(type='hidden' name='id' value=usuario.id)
                            button.link-button.btn-danger(type='submit')='Eliminar'
  // comienzo del footer
  footer.p-2(style='background-color: #000;')
    .container
      p.copyright(tabindex='0 ') OtakuSongs
      p.copyright(tabindex='0 ') Todos los Derechos Reservados 2021 &copy;