extends layout

block content
  header(style=' background-color: #000;')
    nav.navbar.navbar-dark.d-flex.justify-content-end
      a(href='contacto.html')
        button.btn.btn-warning(style='border-radius: 5px;') Contact senpai :3
  main
    .container
      .row.margin-confi
        .col-md-0.offset-md-0
          a(href='/')
            button.btn.btn-warning(style='border-radius: 5px;') Home
      .row.margin-oks
        .col-md-4.offset-md-4
          h1.font-potta-one(style='border-radius: 15px; color: #fff') OKS
      .row.my-2
        .col-md-4.offset-md-4
          h2.font-lato(style='border-radius: 15px; color: #fff')  OtakuSong 
      .row.separar-boton-titulo
        .col-md-4.offset-md-4
          .btn-group-vertical.d-block
            a(href='/game')
              button.btn.btn-dark.btn-lg.btn-block.my-2.font-lato(type='button' style='color: #FFBA5C; background-color: #000;') Lets Go!
            a.btn.btn-dark.btn-lg.btn-block.my-2.font-lato(type='button' style='color: #FFBA5C; background-color: #000;' href="/admin") Exit
  // comienzo del footer
  footer.p-4(style='background-color: #000;')
    .container
      p.copyright(tabindex='0 ') OtakuSongs
      p.copyright(tabindex='0 ') Todos los Derechos Reservados 2021 &copy; 