extends layout

block content
  header(style=' background-color: #000;')
    nav.navbar.navbar-dark.d-flex.justify-content-end
      .hi(style=' height: 40px')
  main
    .container
      .row.margin-confi
        .col-md-0.offset-md-0
          a(href='/')
            button.link-button.btn-warning.px-5 back
      .row.margin-oks
        .col-md-4.offset-md-4
          h1.font-potta-one(style='border-radius: 15px; color: #fff') OKS
      .row.my-2
        .col-md-4.offset-md-4
          h2.font-lato(style='border-radius: 15px; color: #fff')  Song register
      .row
        .col-md-6.offset-md-3
          audio(controls='')
            source(src='/'+cancionCorrecta.imagePath+'#t=20,40' type='audio/mpeg')
            |   Your browser does not support the audio tag.
          button.btn-btn-danger(style="display:none" name="boton_solucion" value=cancionCorrecta.title) RESPUESTA
          .table-responsive-md
                each cancion in canciones
                    tr
                      td
                        button.btn.btn-dark.btn-lg.btn-block.my-2.font-lato(type='button' name="boton_opcion" value=cancion.title style='color: #FFBA5C; background-color: #000;') #{cancion.title}

  // comienzo del footer
  footer.p-2(style='background-color: #000;')
    .container
      p.copyright(tabindex='0 ') OtakuSongs
      p.copyright(tabindex='0 ') Todos los Derechos Reservados 2021 &copy;